<h2 class = "recordtitle">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :username, required: true, autofocus: true %>
   <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :state, as: :select, collection: (us_states), required: true, autofocus: true  %>
   <%= f.input :city, required: true, autofocus: true %>
<%= f.input :birthdate, required: true, autofocus: true, placeholder: "mm/dd/yyyy", label: "Birthday"%>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <p class = "pterms"> By clicking Sign up, I agree to the website's <%= link_to 'Terms of Service', terms_path %>, <%= link_to 'Privacy Policy', privacy_path %> and <%= link_to 'Website Privacy', websiteprivacy_path %>.</p>
  <div class="form-actions signuppadding">
    <%= f.button :submit, "Sign up", class: 'btn btn-default' %>
  </div>
<% end %>

<div class = "loginlinks"> <span class = "btn btn-default"> <%= render "devise/shared/links" %> </span></div>
