<div id = "current_customer">

<div class="container">
  <div class="row">
<% @records.each do |record| %>

  <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-description">
       <a href= "#" class="links"><%=(record.date.strftime("%B %d, %Y")) %></a>
       <h3 class = "recordnameindex"> <%=(record.name) %> </h3>
       <h5 class = "recorddetails"> Press for record details </h5>
      </div>
      <a class="card-link" href= <%=record_path(record.id) %> ></a>
    </div>

    <div class="card-footer editfooter">
      <span class= "edit"> <small class="text-muted">  <%= link_to "Edit record", edit_record_path(record.id) %>  </small> </span>
    </div>

     <div class="card-footer deletefooter">
      <span class= "delete"> <small class="text-muted">  <%= link_to "Delete record", record_path(record.id), method: :delete, id: "delete-link", :data => {:confirm => 'Are you sure?'} %>  </small> </span>
    </div>

  </div>
  <% end %>
   </div>

</div>
</div>
