<table class="padding-table-columns">
  <tr>
    <th class = "state">State</th>
     <th class = "reasonsbus"> Reasons Data</th>
     <th class = "test"> Test Data </th>
  </tr>

  <tr>
    <td class="line"> Texas </td>
    <td> <% a = @TX_record_reason %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>
<% a = @TX_record_array_reason_other %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>

</td>
<td> <% a = @TX_record_test %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>
<% a = @TX_record_test_other %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>

    </td>

  </tr>
<tr>
    <td> Connecticut </td>
    <td> <% a = @CT_record_reason %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>
<% a = @CT_record_array_reason_other %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>

</td>
<td> <% a = @CT_record_test %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>
<% a = @CT_record_test_other %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>

    </td>
  </tr>

<tr>
    <td> California </td>
    <td> <% a = @CA_record_reason %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>
<% a = @CA_record_array_reason_other %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>

</td>
<td> <% a = @CA_record_test %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>
<% a = @CA_record_test_other %>
<%= a.uniq.map { |x| "#{x} = #{a.count(x)}" }.join(', ') %>

    </td>
  </tr>




</table>





