<div class="container">

  <% flash.each do |key, value| %>
    <% if key == "danger" %>
    <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
  <% end %>
  <%= yield %>
</div>

<h1 class = "recordtitle indextitle"> Records</h1>

<div class = "days"> <%= link_to "All Records", records_path, class: "showbutton", remote: true %>

<%= link_to "Last Thirty days", thirty_days_records_path, class: "showbutton", remote: true %>
<%= link_to "Last Sixty days", sixty_days_records_path, class: "showbutton", remote: true %> </div>

<%= render 'index', records: @records %>


<div id = "current_customer">
</div>



