 <h3 class = "recordtitle"> Search for record(s) using one or more field(s) </h3>
<div class="wrapper">
  <div class="row row-banner">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-container">
      <div class="logo-and-search">
  <%= image_tag("", id: "logo") %>


          <h5 class = "search">Reason</h5>
        <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search-item searchheight",
          placeholder: "Joint Pain"
          %> <br>

          <h5 > Test type?</h5>
          <%= text_field_tag :query3,
          params[:query3],
          class: "form-control search-item searchheight",
            placeholder: "Blood test",
            id: "address-input"
            %>
              <br>

           <h5 > Prescription name?</h5>
          <%= text_field_tag :query2,
          params[:query2],
          class: "form-control search-item searchheight",
            placeholder: "Retinol",
            id: "address-input"
            %>
              <br>





            <%= submit_tag("Search", :id=>"button", :class=>"btn btn-secondary btn-lg btn-main btn btn-default", :name=>"submit") %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <br>

    <%= link_to "Show All Vaccine Records", vaccines_path, class: "showbutton vaccinesmargin", remote: true %>

    <div id = "current_customer">
  </div>

  <%if @records %>
    <div class="container">
      <div class="row">
        <% @records.each do |record| %>
           <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-description">
       <a href= "#" class="links"><%=(record.name == "Other" ? record.name_other : record.name) %></a>
       <h5 class = "recorddetails"> Press for record details </h5>
      </div>
      <a class="card-link" href= <%=record_path(record.id) %> ></a>
    </div>

    <div class="card-footer editfooter">
      <span class= "edit"> <small class="text-muted">  <%= link_to "Edit record", edit_record_path(record.id) %>  </small> </span>
    </div>

     <div class="card-footer deletefooter">
      <span class= "delete"> <small class="text-muted">  <%= link_to "Delete record", record_path(record.id), method: :delete %>  </small> </span>
    </div>

  </div>
  <% end %>
   </div>

</div>
<% end %>



<%if @record_name_other %>
    <div class="container">
  <div class="row">
<% @record_name_other.each do |record| %>

  <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-description">
       <a href= "#" class="links"><%=(record.name == "Other" ? record.name_other : record.name) %></a>
       <h5 class = "recorddetails"> Press for record details </h5>
      </div>
      <a class="card-link" href= <%=record_path(record.id) %> ></a>
    </div>

    <div class="card-footer editfooter">
      <span class= "edit"> <small class="text-muted">  <%= link_to "Edit record", edit_record_path(record.id) %>  </small> </span>
    </div>

     <div class="card-footer deletefooter">
      <span class= "delete"> <small class="text-muted">  <%= link_to "Delete record", record_path(record.id), method: :delete, id: "delete-link", :data => {:confirm => 'Are you sure?'} %>  </small> </span>
    </div>

  </div>
  <% end %>
   </div>

</div>
<% end %>



<%if @record_description_other %>
    <div class="container">
  <div class="row">
<% @record_description_other.each do |record| %>

  <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-description">
       <a href= "#" class="links"><%=(record.name == "Other" ? record.name_other : record.name) %></a>
       <h5 class = "recorddetails"> Press for record details </h5>
      </div>
      <a class="card-link" href= <%=record_path(record.id) %> ></a>
    </div>

    <div class="card-footer editfooter">
      <span class= "edit"> <small class="text-muted">  <%= link_to "Edit record", edit_record_path(record.id) %>  </small> </span>
    </div>

     <div class="card-footer deletefooter">
      <span class= "delete"> <small class="text-muted">  <%= link_to "Delete record", record_path(record.id), method: :delete, id: "delete-link", :data => {:confirm => 'Are you sure?'} %>  </small> </span>
    </div>

  </div>
  <% end %>
   </div>

</div>
<% end %>
