<div class="container">

  <% flash.each do |key, value| %>
    <% if key == "success" %>
    <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
  <% end %>
  <%= yield %>
</div>
<div class="container">
<% flash.each do |key, value| %>
    <% if key == "info" %>
    <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
  <% end %>
  <%= yield %>
</div>


<div class = "showform"
<p> Date: <strong> <%= @date.strftime("%B %d, %Y") %> </strong> </p>

<p>
  Reason:
  <strong> <%= @record.name == "Other" ? @record.name_other : @record.name %> </strong>
</p>

<p> Doctor: <strong> <%= @record.doctor %> </strong> </p>
  <p> Were you given a prescription? <strong> <%= @prescription_names.to_sentence %> </strong>
</p>
<p> Prescription type: <strong> <%=@record.prescription_name %> </strong> </p>

 <p> Xray? <strong> <%= @xray_name.to_sentence %> </strong> </p>

<p> Test Done? <strong> <%= @tests.to_sentence %> </strong> </p>

<p> Test type: <strong> <%= (@record.description == "Other" ? @record.description_other : @record.description) %> </strong> </p>

<p> Doctor Rating: <strong> <%= @record.rating %></strong> </p>

<p> Comments: <strong> <%= @record.comment %> </strong> </p>
<br>
<br>

<div> <%= link_to 'Edit', edit_record_path(@record), class: "showbutton" %> |
<%= link_to 'All Records', records_path, class: "showbutton" %> </div>
<br>

 <div> <%= link_to 'Search for record(s)', search_path, class: "showbutton" %> </div>


 <!-- comment -->
 <% if false %>
<%  @prescription_names.each do |x| %>
  <%= x %>
  <% end %>
<% end %>

</div>
