<h1 class = "recordtitle indextitle">Records last Thirty days</h1>

<div class = "days"> <%= link_to "All Records", records_path, class: "showbutton" %>
<%= link_to "Records Last Sixty days", sixty_days_records_path, class: "showbutton" %> </div>



<div class="container">
  <div class="row">
<% @records.each do |record| %>

  <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-description">
       <a href= "#" class="links"><%=(record.name == "Other" ? record.name_other : record.name) %></a>
      </div>
      <a class="card-link" href= <%=record_path(record.id) %> ></a>
    </div>

    <div class="card-footer editfooter">
      <span class= "edit"> <small class="text-muted">  <%= link_to "Edit record", edit_record_path(record.id) %>  </small> </span>
    </div>

     <div class="card-footer deletefooter">
      <span class= "delete"> <small class="text-muted">  <%= link_to "Delete record", record_path(record.id), method: :delete, id: "delete-link", :data => {:confirm => 'Are you sure?'} %>  </small> </span>
    </div>

  </div>
  <% end %>
   </div>

</div>
