<% if comments.any? %>
<% comments.each do |comment| %>
<div class="comment">
    <%= link_to comment.user.username, profile_path(comment.user.username)%>:
    <%= simple_format comment.message %>
    <div id="vote-actionscomments-<%= comment.id %>" class="votecomment" data-id="<%= comment.id %>">
                    <div class="fa fa-arrow-up upvote  <%= is_upvoted comment %>"></div>
                    <span class="font-weight-bold score"><%= comment.score %></span>
                    <div class="fa fa-arrow-down downvote  <%= is_downvoted comment %>"></div>
                </div>

</div>
<% end %>
<% end %>
