<div class="row mb-4">
    <div class="col-sm-8">
        <h3 class = "name"><%= @community.name %></h3>
    </div>
    <div class="col-sm-4">
        <% if @is_subscribed %>
            <%= link_to "Create New Post", new_community_post_path(@community),  class: "btn btn-primary float-right buttonpost"  %>
        <% else %>
            <%= render partial: "communities/subscribe", locals: { community_id: @community.id } %>
        <% end %>
    </div>
</div>


<div class="row">
    <div class="col-sm-8">

        <%= render partial: "posts/list", locals: { posts: @posts } %>

    </div>
    <div class="col-sm-4" style = "padding-left: 27px;">
        <div class="card p-3">
        <p class="h5 commcolor">About this community:</p>
            <p class="mt-2 commcolor summaryfont"><%= @community.summary %></p>
        </div>

        <p class = "count"><%= pluralize @subscriber_count, "member" %> </p>
        <small class = "rules">
            Rules: <%= simple_format @community.rules %>
        </small>
    </div>
</div>


<div class = "twobuttons">
 <div><%= link_to "View all Communities", communities_path, class: "btn btn-primary mt-4"%> </div>

<div class = "topcommbutton"><%= link_to "Popular Posts & Up and Coming Communities", public_path, class: "btn btn-primary mt-4 commbuttonwidth"%> </div>
</div>
